# google-generativeai
python-dotenv
langchain
pypdf
faiss-cpu
# langchain_google_genai
langchain-community
fastapi
pydantic
uvicorn
requests
langchain_groq
mysql-connector-python
PyJWT
langchain-openai
pinecone-client
langchain-pinecone
pinecone-notebooks
PyMuPDF
frontend
boto3
botocore